__pycache__/detection_module.cpython-310.pyc
__pycache__/detection_module.cpython-310.pyc
/test.jpg
__pycache__/utils.cpython-310.pyc
__pycache__/model_training.cpython-310.pyc
__pycache__/HawkEyeApp.cpython-310.pyc
__pycache__/detection_module.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
